@media (max-width:1250px){
    .lev1{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .box2{
        margin: 20px 0;
    }
    .box4{
        margin: 20px 0;
    }
    .box6{
        margin: 20px 0;
    }
}
@media (max-width:1100px){
    .formcontainer{
        width: 96%;
        height: 60%;
    }
    .form .name{
        flex-direction: column;
        display: flex;
  

    }
    .container{
        width:90%;
        height: 50%;
    }
    .container header{
        padding: 0px;
        font-size: 3rem;
    }
    .container p{
        padding: 0;
        font-size: 1rem;
    }
}
@media (max-width:750px) {
    .container header{
        font-size: 2.5rem;
    }
    .container p{
        font-size: 1rem;
    }
    .head{
        flex-direction: column;
        align-content: center;
        display: flex;
        text-align: center;
    }
    .head header{
        display: block;
        text-align: center;
    }
}
@media (max-width:450px){
    .form{
        font-size: 1rem;
    }
    .formcontainer{
        height: 400px;
    }
    .container .btn{
        margin-bottom: 20px;
      
    }

    .box1{
        width: 300px;
    }
    .box2{
        width: 300px;
    }
    .box3{
        width: 300px;
    }
    .box4{
        width: 300px;
    }
    .box5{
        width: 300px;
    }
    .box6{
        width: 300px;
    }
    .lev1 img{
        width: 280px;
        height: 200px;
    }
    .btn{
        margin-top: 10px;
    }
}
@media (max-width:300px){
    .container{
        height: 60%;
        margin-top: 0;
        background-color: red;
    }
    .formcontainer{
        height: 400px;
        font-size: 0.5rem;
    }
    .name input{
        width: 80%;
    }
    .gmail input{
        width: 80%;
    }
    .phonenumber input{
        width: 80%;
    }
  
    

}